@media (max-width: 1250px)
    .wrapper
        height: 1500px
    .container
        height: 1200px
    .dashboard
        &__wrapper
            grid-template-rows: 148px 245px 245px 245px

    .geo
        &__box
            grid-row: 4
            grid-column: 1            
            

