.navbar 
    position: absolute
    left: 0
    top: 0
    height: 100%
    padding: 55px 19px
    background: #282C31
    border: 1px solid #4D4D4D
    border-radius: 14px 0 0 14px
    
    &__list 
        margin: 150px auto 142px
        width: 25px
            
    &__item 
        width: 
    
    &__link 
        display: block
        margin: 0 0 40px
        &--active
            margin: 52px 0 52px
            
        

